

#summit_image {
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

h1 {
    color: #007BA7;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
}

#text-container {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

/* Text styling */
#text-container h1 {
    font-size: 24px;
    margin: 0;
}

#text-container a {
    color: #FFD700;
    text-decoration: none;
    font-size: 18px;
}

#text-container a:hover {
    text-decoration: underline;
}
